body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffc901;
    height: 100vh;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 4em; 
    background-color: black;
    color: white;
}

.matches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.match {
    border: 1em solid black;
    background-color: white;
    display: flex;
}

.match a {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
}

.match div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match p {
    margin: 0;
    padding: 1em;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 1442px) {
    .matches {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 945px) {
    .matches {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 503px) {
    .match p {
        font-size: 1em;
    }
}